form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: blod;

}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='password'] {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    display: block;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

body {
    text-align: center;
}